<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111034004014-ddrlnmvjjb613m2vdj9t3f8jl4cgdjsu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111034004014-ddrlnmvjjb613m2vdj9t3f8jl4cgdjsu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>111034004014-knkd38ueknqilm6iblr7vokq8q4ggatv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXdl_xJeNNo38wekRSjF_D_ONqEVyNWe8</string>
	<key>GCM_SENDER_ID</key>
	<string>111034004014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>evanlynch.com.firstandthen</string>
	<key>PROJECT_ID</key>
	<string>first-and-then-58ad2</string>
	<key>STORAGE_BUCKET</key>
	<string>first-and-then-58ad2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111034004014:ios:cbf15e8a85389c1c7f65bf</string>
	<key>DATABASE_URL</key>
	<string>https://first-and-then-58ad2.firebaseio.com</string>
</dict>
</plist>